{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

<style>
    body {
        background: black;
        color:white;
        font-family: lucida console;
    }
    h1 {
        color: red;
        font-family: lucida console;
    }
    p {
        color: powderblue;
        border: 10px solid;
        padding: 30px;
    }
    a {
        color: white;
    }
</style>

<h1>Welcome.</h1>
<p>You have been trapped in a room by a group of angry CS professors who are mad that you didn't finish your homework! 
    The only way to escape is to solve the coding-related puzzles and mazes that they've made for you. In each part of 
    the room, there will be multiple puzzles for you to solve. If you don't succeed, they'll trap you here and make
    you keep coding forever! Good luck!</p>
<a href="stageone.html">Click here to enter Room 1!</a>
    
