<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="icon" href="/favicon.ico"/><meta name="viewport" content="width=device-width,initial-scale=1"/><meta name="theme-color" content="#000000"/><meta name="description" content="Web site created using create-react-app"/><link rel="apple-touch-icon" href="/logo192.png"/><link rel="manifest" href="/manifest.json"/><title>React App</title><script defer="defer" src="/static/js/main.0215976b.js"></script><link href="/static/css/main.073c9b0a.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div></body></html>

<h2>Escape Room: Find clues and enter your answers to them in text boxes</h2>

<p>This game is available for 5 minutes (300 seconds).</p>

<button onclick="setTimeout(myFunction, 300000);">Start Game</button>

<script>
function myFunction() {
  alert('Your time is up. Game is over.');
}
</script>

<br>
<br>
<img src="https://media.istockphoto.com/vectors/maze-or-labyrinth-iconrectangular-shapeisolated-on-white-back-vector-id835481450?k=20&m=835481450&s=612x612&w=0&h=lf-fB0PY3cKGLQxz8gbh62EQOHmLXjeqaPTNwvSdpQY=" alt="maze">
<img src="https://www.researchgate.net/publication/332368903/figure/fig1/AS:746707394523136@1555040324420/Caesar-Shift-Cipher-In-15-th-century-Blaise-De-Vigenere-developed-Vigenere-Cipher-This.ppm" alt="decoder">


<body>
    <div class="container">
        <form action="https://inventwithpython.com/chapter14.html">
            <button class="btn btn-danger btn-lg">___________________________Possible Hint for Puzzle___________________________</button>
        </form>
    </div>
</body>
<p><br></p>
<body>
    <div class="container">
            <button class="btn btn-danger btn-lg">___________________________Possible Hint for Puzzle___________________________</button>
        </form>
    </div>
</body>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p>Maze Directions: U=Up, D=Down, L=Left, R=Right. Type new letter every time you change directions.<br> Length of a direction doesn't matter. The first letter is D and should be included.