<!-- Contains these puzzles: clue_one_password (a riddle about vectors), clue_two_password (decoding a message)
•	Contains hidden objects: links to translation (for decode puzzle), bonus attempts at questions for this stage, 
    two pictures for use in stage 2
•	Uses the following features: text box (to type password), typing directly onto web page, inventory 
    (allows player to check whether a reward can be used to continue the game), points/attempts display, 
    theming/style (using CSS) -->
    
<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="icon" href="/favicon.ico"/><meta name="viewport" content="width=device-width,initial-scale=1"/><meta name="theme-color" content="#000000"/><meta name="description" content="Web site created using create-react-app"/><link rel="apple-touch-icon" href="/logo192.png"/><link rel="manifest" href="/manifest.json"/><title>React App</title><script defer="defer" src="/static/js/main.0215976b.js"></script><link href="/static/css/main.073c9b0a.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div></body></html>

<h2>Stage 1: Find clues and enter your answers to them in text boxes</h2>


<!-- Start Timer -->

<p>This stage is available for 5 minutes (300 seconds).</p>

<button onclick="setTimeout(myFunction, 300000);">Start Game</button>

<script>
function myFunction() {
  alert('Your time is up. Game is over.');
}
</script>


<!-- Puzzles and Features -->

<form action="" method="POST">
    <div id="something_container"></div>
    <p>Whether I'm 1-Dimensional, 2-Dimensional, or 3-Dimensional, I'm still the same. You can change my size, but you can't change my type or my name. What am I?</p>
    <input type="text" id="clue_one_password" name="clue_one_password" minlength="6" maxlength="6" placeholder="v - - - - -">
    <input type="submit"/>
    
    
    
    
<body>
    <div class="container">
        <form action="file:///C:\Users\rohiths2 illinois\hello\Clue One Call (backup).py">
            <button class="btn btn-danger btn-lg">Open in Terminal</button>
        </form>
    </div>
</body>




<br>
<br>



  <div id="something_container"></div>
  <p>Decode the following message: </p>
  <p>Wklv surmhfw ghvhuyhv dq D!: </p>
  <textarea id="Clue 2 Puzzle Response" name="Clue 2 Puzzle Response" rows="2" cols="40"></textarea>
  <input type="submit"/>
    
<body>
    <div class="container">
        <form action="file:///C:\Users\rohiths2 illinois\hello\Decode Clue Two Call (backup).py">
            <button class="btn btn-danger btn-lg">Open in Terminal</button>
        </form>
    </div>
</body>


    
<br>
<br>
<br>



<body>
    <div class="container">
        <form action="https://inventwithpython.com/chapter14.html">
            <button class="btn btn-danger btn-lg">Possible Hint for Puzzle</button>
        </form>
    </div>
</body>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="website\templates\something.js"></script>
</form>
