<!--
•	Contains these puzzles: clue_three_password (identifying what the pictures found in the previous stage 
represent), directional_lock (player inputs the order of the directions used to solve a maze), 
clue_four_password (a 3-letter code representing the acronym of the maze’s traversal)
•	Contains hidden objects: maze (which player uses to solve directional lock), hint (that maze will be used in 
two different puzzles), numbers for next level’s code 
•	Uses the following features: virtual UV light (to uncover numbers for next level’s code), text box, 
points/attempts display, inventory, theming/style (CSS) -->