<!--
•	Contains these puzzles: 4-digit code (representing a year, as obtained through the 4 numbers from the previous 
    stage) and 4-letter code (name of a programming language developed during that year), matching puzzle (for 
    users to match different common algorithm names with their descriptions in riddle format)
•	Contains hidden objects: timeline (which helps players find the correct event during a certain year)
•	Uses the following features: text box, on-screen touch/click-based lock (for numeric codes), click-and-drag 
    matching tool (to solve algorithm-related puzzle) -->