<!-- Contains these puzzles: clue_one_password (a riddle about vectors), clue_two_password (decoding a message)
•	Contains hidden objects: links to translation (for decode puzzle), bonus attempts at questions for this stage, 
    two pictures for use in stage 2
•	Uses the following features: text box (to type password), typing directly onto web page, inventory 
    (allows player to check whether a reward can be used to continue the game), points/attempts display, 
    theming/style (using CSS) -->

    <style>
        body {
            background: black;
            color:white;
            font-family: lucida console;
        }
        h1 {
            color: red;
            font-family: lucida console;
        }
        p {
            color: powderblue;
            border: 10px solid;
            padding: 30px;
        }
        a {
            color: white;
        }
    </style>
    
<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="icon" href="/favicon.ico"/><meta name="viewport" content="width=device-width,initial-scale=1"/><meta name="theme-color" content="#000000"/><meta name="description" content="Web site created using create-react-app"/><link rel="apple-touch-icon" href="/logo192.png"/><link rel="manifest" href="/manifest.json"/><title>React App</title><script defer="defer" src="/static/js/main.0215976b.js"></script><link href="/static/css/main.073c9b0a.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div></body></html>

<script type="text/javascript">
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });
</script>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Start">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>Stage One</h3>
    </div>
    <div class="modal-body">
        <!-- Display stats -->
        <p id="stats"  style="color:greenyellow;font-size:18px;"></p>
        <script>
            document.getElementById("stats").innerHTML = "Level: " + 1 + ", Points: " + 0 + ", Attempts Left: " + 3;
        </script>
        <p>Stage 1: Find clues and enter your answers to them in text boxes. 
            This stage is available for 5 minutes (300 seconds).
            Click the button below to start</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" 
            onclick="setTimeout(myFunction, 300000);">Start</button>
    </div>
</div>

<!-- Start Timer -->

<script>
function myFunction() {
  alert('Your time is up. Game is over.');
}
</script>

<!-- <form action="game-begin.html" method="POST"> -->

<!-- Puzzles and Features -->

<form action="" method="POST" id="puzzle_one">{% csrf_token %}
    <div id="something_container"></div>
    <input type="hidden" name="form_type" value="puzzle_one">
    <p>Whether I'm 1-Dimensional, 2-Dimensional, or 3-Dimensional, I'm still the same. You can change my size, but you can't change my type or my name. What am I?</p>
    <input type="text" id="clue_one_password" name="clue_one_password" minlength="6" maxlength="6" placeholder="v - - - - -">
<!--     <input type="submit" onclick="puz1response()"/> -->
</form> 
<input type="submit" onclick="f()" value="Submit Answers"/>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<br>
<br>


<form action="" method="POST" id="puzzle_two">{% csrf_token %}
  <div id="something_container"></div>
  <input type="hidden" name="form_type" value="puzzle_two">
  <p>Decode the following message: </p>
  <p>Wklv surmhfw ghvhuyhv dq D!: </p>
  <input type="text" id="clue_two_password" name="clue_two_password" textarea id="Clue 2 Puzzle Response" name="Clue 2 Puzzle Response" rows="2" cols="40"></textarea>
<!--   <input type="submit" onclick="function2()"/> -->
</form>
<input type="submit" onclick="f()" value="Submit Answers"/>

<br>

<p id="preview_stage1"  style="color:chartreuse;font: size 12px;">What you submitted: </p>
<input type="submit" onclick="f()" value="Submit All Responses"/>
<script type="text/javascript">
    var p1r;
    var p2r;
    var points = 0;
    var attempts = 3;
    var level = 1;
    var p1done = 0;
    var p2done = 0;
    function f() {
        if (attempts == 0) {
                alert('You are out of attempts. Game is over.');
                points = 0;
        }
        p1r = document.getElementById('clue_one_password').value;
        p2r = document.getElementById('clue_two_password').value;
        localStorage.setItem('1', p1r);
        localStorage.setItem('2', p2r);
        var p1a = "incorrect";
        var p2a = "incorrect";
        if (p1r != "vector" && p2r != "This project deserves an A!") {
            attempts = attempts - 1;
            document.getElementById("stats").innerHTML = "Level: " + level + ", Points: " + points + ", Attempts Left: " + attempts;
            if (attempts == 0) {
                alert('You are out of attempts. Game is over.');
                points = 0;
            }
        }
        if (p1r == "vector") {
            p1a = "correct";
            if (p1done == 0) {
                points=points+attempts;
                document.getElementById("stats").innerHTML = "Level: " + level + ", Points: " + points + ", Attempts Left: " + attempts;
                alert('The first answer is correct! You earned ' + attempts + ' points for a total of ' + points);
            }
            p1done = 1;
        }
        if (p2r == "This project deserves an A!") {
            p2a = "correct";
            if (p2done == 0) {
                points=points+attempts;
                document.getElementById("stats").innerHTML = "Level: " + level + ", Points: " + points + ", Attempts Left: " + attempts;
                alert('The second answer is correct! You earned ' + attempts + ' points for a total of ' + points);
            }
            p2done = 1;
        }
        if (points > 3) {
                alert('Great job! You earned the minimum required 4 points. Scroll up and click the link to advance to the next stage!')
                if (points > 3) {
                    var a = document.createElement('a');
                    var link = document.createTextNode("Advance to next stage");
                    a.appendChild(link);
                    a.title = "Advance to next stage";
                    a.href = "stagetwo.html";
                    document.body.prepend(a);
                }
        }
        document.getElementById("preview_stage1").innerHTML = "Puzzle 1 response: " + " " + p1r + "(" + p1a + ")" + ", Puzzle 2 Response: " + p2r + "(" + p2a + ")"
    }
</script>



    
<br>
<br>
<br>



<body>
    <div class="container">
        <form action="https://inventwithpython.com/chapter14.html">
            <button class="btn btn-danger btn-lg">Possible Hint for Puzzle</button>
        </form>
    </div>
</body>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="website\templates\something.js"></script>
