<!--
•	Contains these puzzles: clue_three_password (identifying what the pictures found in the previous stage 
represent), directional_lock (player inputs the order of the directions used to solve a maze), 
clue_four_password (a 3-letter code representing the acronym of the maze’s traversal)
•	Contains hidden objects: maze (which player uses to solve directional lock), hint (that maze will be used in 
two different puzzles), numbers for next level’s code 
•	Uses the following features: virtual UV light (to uncover numbers for next level’s code), text box, 
points/attempts display, inventory, theming/style (CSS) -->

<style>
    body {
        background: black;
        color:white;
        font-family: lucida console;
    }
    h1 {
        color: red;
        font-family: lucida console;
    }
    p {
        color: powderblue;
        border: 10px solid;
        padding: 30px;
    }
    a {
        color: white;
    }
</style>

<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="icon" href="/favicon.ico"/><meta name="viewport" content="width=device-width,initial-scale=1"/><meta name="theme-color" content="#000000"/><meta name="description" content="Web site created using create-react-app"/><link rel="apple-touch-icon" href="/logo192.png"/><link rel="manifest" href="/manifest.json"/><title>React App</title><script defer="defer" src="/static/js/main.0215976b.js"></script><link href="/static/css/main.073c9b0a.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div></body></html>

<h2>Stage 2: Find clues and enter your answers to them in text boxes</h2>


<!-- Display Points and Level -->

<p id="stats"  style="color:greenyellow;font-size:18px;"></p>
<script>
    var points = 0;
    var attempts = 3;
    var level = 2;
    document.getElementById("stats").innerHTML = "Level: " + level + ", Points: " + points + ", Attempts Left: " + attempts;
</script>



<!-- Start Timer -->


<p>This stage is available for 4 minutes (240 seconds).</p>

<button onclick="setTimeout(myFunction, 240000);">Start Game</button>

<br>
<a href="stagethree.html">Go to next stage</a> <br>

<script>
function myFunction() {
  alert('Your time is up. Game is over.');
}
</script>

<br>

<!-- A clue for player to solve the year puzzle -->
<br>

<p>Code that may help you solve a puzzle:</p>

<h2>std::string letters = "gooGle"<h2>
<h2>println(letters[4] + letters[0] + letters[0] + letters[3])</h2>

<br>


<!-- Clue 3 -->

<form action="" method="POST" id="puzzle_three">{% csrf_token %}
    <div id="something_container"></div>
    <input type="hidden" name="form_type" value="puzzle_three">
    <p>I'm used to build a computer, but you can't hold me in your hands. There's two shapes I can take: a line or a circle. What am I? </p>
    <script>var puz3answer;</script>
    <p id="puz3display"  style="color:white;font-size:12px;">What you submitted: </p>
    <input type="text" id="clue_three_password" name="clue_three_password" minlength="6" maxlength="6" placeholder="- - n - - -">
    <input type="submit" onclick="puz3response"/>
    <script type="text/javascript">
        
        function puz3response() {
            puz3answer= document.getElementById('clue_three_password').value;
            localStorage.setItem('store3', puz3answer);
            document.getElementById("puz3display").innerHTML = "What you submitted: " + puz3answer;
        }
    </script>
</form>
<br>
<br>


<!-- Year -->

<form action="" method="POST" id="puzzle_four">{% csrf_token %}
    <div id="something_container"></div>
    <input type="hidden" name="form_type" value="puzzle_four">
    <p>In what year was Google founded? </p>
    <script>var puz4answer;</script>
    <p id="puz4display"  style="color:white;font-size:12px;">What you submitted: </p>
    <input type="text" id="year_puzzle" name="year_puzzle" minlength="4" maxlength="4" placeholder="- - - -">
    <input type="submit" onclick="puz4response"/>
    <script type="text/javascript">
        
        function puz4response() {
            puz3answer= document.getElementById('year_puzzle').value;
            localStorage.setItem('store4', puz4answer);
            document.getElementById("puz4display").innerHTML = "What you submitted: " + puz4answer;
        }
    </script>
</form>
<br>
<br>



<!-- Maze -->

<form action="" method="POST" id="puzzle_five">{% csrf_token %}
    <div id="something_container"></div>
    <input type="hidden" name="form_type" value="puzzle_five">
    <p>Enter Directions U, L, D, and/or R. </p>
    <script>var puz5answer;</script>
    <p id="puz5display"  style="color:white;font-size:12px;">What you submitted: </p>
    <input type="text" id="maze_puzzle" name="maze_puzzle">
    <input type="submit" onclick="puz5response"/>
    <script type="text/javascript">
        
        function puz5response() {
            puz5answer= document.getElementById('maze_puzzle').value;
            localStorage.setItem('store5', puz5answer);
            document.getElementById("puz5display").innerHTML = "What you submitted: " + puz5answer;
        }
    </script>
</form> 
<br>
<br>
<br>
<br>


<!-- Display Images -->



<img src="https://media.istockphoto.com/vectors/maze-or-labyrinth-iconrectangular-shapeisolated-on-white-back-vector-id835481450?k=20&m=835481450&s=612x612&w=0&h=lf-fB0PY3cKGLQxz8gbh62EQOHmLXjeqaPTNwvSdpQY=" alt="maze">


    




    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="website\templates\something.js"></script>
</form>
