<!Contains these puzzles: clue_one_password (a riddle about vectors), clue_two_password (decoding a message)
•	Contains hidden objects: links to translation (for decode puzzle), bonus attempts at questions for this stage, 
    two pictures for use in stage 2
•	Uses the following features: text box (to type password), typing directly onto web page, inventory 
    (allows player to check whether a reward can be used to continue the game), points/attempts display, 
    theming/style (using CSS)>

<form action="" method="POST">
    <p>Whether I'm 1-Dimensional, 2-Dimensional, or 3-Dimensional, I'm still the same. You can change my size, but you can't change my type or my name. What am I?</p>
    <input type="text" name="clue_one_password"/>
    <input type="submit"/>
</form>