<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="icon" href="/favicon.ico"/><meta name="viewport" content="width=device-width,initial-scale=1"/><meta name="theme-color" content="#000000"/><meta name="description" content="Web site created using create-react-app"/><link rel="apple-touch-icon" href="/logo192.png"/><link rel="manifest" href="/manifest.json"/><title>React App</title><script defer="defer" src="/static/js/main.0215976b.js"></script><link href="/static/css/main.073c9b0a.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div></body></html>

<label for="Clue 1 Puzzle Response">Clue 1 Puzzle:</label>
<p>Whether I'm 1-Dimensional, 2-Dimensional, or 3-Dimensional, I'm still the same. You can change my size, but you can't change my type or my name. What am I? </p>
<input type="text" id="Clue 1 Puzzle Response" name="Clue 1 Puzzle Response" minlength="6" maxlength="6" placeholder="v - - - - -">

<p><br></p>

<label for="Clue 2 Puzzle Response">Clue 2 Puzzle:</label>
<p>Decode the following message: </p>
<p>Wklv surmhfw ghvhuyhv dq D!: </p>
<textarea id="Clue 2 Puzzle Response" name="Clue 2 Puzzle Response" rows="4" cols="50"></textarea>

<p><br></p>

<label for="Clue 3 Puzzle Response">Clue 3 Puzzle:</label>
<p>I'm used to build a computer, but you can't hold me in your hands. There's two shapes I can take: a line or a circle. What am I? </p>
<input type="text" id="Clue 3 Puzzle Response" name="Clue 3 Puzzle Response" minlength="6" maxlength="6" placeholder="b - - - - -">

<p><br></p>

<label for="Year Puzzle Response">Year Puzzle:</label>
<p>In what year was Google founded? </p>
<input type="text" id="Year Puzzle Response" name="Year Puzzle Response" minlength="4" maxlength="4" placeholder="- - - -">

<p><br></p>

<label for="Guess Puzzle (Input Only)">Guess Puzzle (Input):</label>
<p>Type your guess here! </p>
<input type="text" id="Guess Puzzle (Input Only)" name="Guess Puzzle (Input Only)" minlength="2" maxlength="2" placeholder="" size="2">



<!-- 


<label for="freeform">Tell us how you heard about HubSpot:</label>
<br>

<textarea id="freeform" name="freeform" rows="4" cols="50">
Enter text here...
</textarea>


<input type="submit" value="Submit">
</form> -->